<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include('../fragments/head.ejs') %>
    <meta charset="UTF-8">
    <title><%= locals.titlu %></title>
    <link rel="stylesheet" href="../assets/style-css/error.css">
    
</head>
<body>
    <div class="error-container">
        <h1 class="error-title"><%= locals.eroare?.titlu %></h1>
        <p class="error-text"><%= locals.eroare?.text %></p>
        <img class="error-image" src="<%= locals.eroare?.imagine %>" alt="Imagine eroare">
    </div>
</body>
</html>
