<div class="galerie-grid">
  <% imagini.forEach(function(img, idx) { %>
    <figure class="img<%= idx+1 %>">
      <figure class="img<%= idx+1 %>">
        <img src="/<%= cale_galerie %>/<%= img.cale_relativa %>" alt="Poza <%= idx+1 %>">
        <figcaption>Poza <%= idx+1 %></figcaption>
      </figure>
    </figure>
  <% }) %>
</div>
